/*reset css stylize base */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    vertical-align:top;
}
html,body{
    height:100%;width:100%;
}
.blind{
    display:none;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,span,input,textarea,select,button,th,td,blockquote,h1,h2,h3,h4,h5,h6,figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top;
    font-family:'Campton'
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

ul,ol,li {
    list-style: none
}

a {
    color: inherit;
    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box
}

img {
    max-width: 100%;
    vertical-align: top
}

.blind {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    visibility: hidden
}

.clear:after {
    content: "";
    display: block;
    clear: both
}

button {
    display: inline-block;
    color: inherit;
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    font: inherit;
    cursor: pointer;
    outline: none
}

input,select,textarea {
    font: inherit;
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    outline: none
}

q,blockquote {
    font-family: "Campton"
}

q::before,
q::after,
blockquote::before,
blockquote::after {
    content: none
}
body{ -ms-overflow-style: none; }
::-webkit-scrollbar { display: none; }
::selection {color:#fff;background-color:#0082C9}
.clearfix::after {content:'';display:block;clear:both}

.tac {
    text-align: center !important
}

.tar {
    text-align: right !important
}

.tal {
    text-align: left !important
}

/*mobile 시안용 뷰 프리젠테이션 관련 css*/
.mo{background:#f1f1f1}
.mobile{
    position:absolute; top:50%; left:50%; width:436px; height:878px; transform:translate(-50% ,-50%); -webkit-transform:translate(-50% ,-50%); -moz-transform:translate(-50% ,-50%); -ms-transform:translate(-50% ,-50%); -o-transform:translate(-50% ,-50%); background:url('http://projecttest.co.kr/riman_daeman/imgs/m/mockup.png') no-repeat center top;background-size:contain;
}
.mobilewrap{
    position:absolute;top:107px;left:31px;width:375px;height:666px;overflow:hidden;
}
.mo-content{overflow-y:scroll;overflow-x:hidden;position:absolute;top:0;left:0;width:100%;height:100%;background:#fff}
.mobox{ position:relative; font-size:16px; text-align:center; transition:backgronud-color 0.4s ease; -webkit-transition:backgronud-color 0.4s ease; -moz-transition:backgronud-color 0.4s ease; -ms-transition:backgronud-color 0.4s ease; -o-transition:backgronud-color 0.4s ease; }
.topmenuwrap{
    position:fixed;top:107px;left:31px;right:30px;height:auto;z-index:998;overflow:hidden;min-height:166px;
}


/*swiper관련*/
.swiper-pagination-bulletStyle{
    bottom:calc(630px * (30/630)) !important;left:140px !important;display:inline-flex;width:auto !important;
    align-items:center;
}
.swiper-pagination-bulletStyle .swiper-pagination-bullet{
    width:calc(375px * (10/375)) !important;  height:calc(375px * (10/375)) !important; margin:0 !important;margin-right:calc(375px * (9/375)) !important;  background: #e0e0e0 !important; opacity: 0.7 !important;  
}
.swiper-pagination-bulletStyle .swiper-pagination-bullet-active{
    width:calc(375px * (20/375)) !important;
    border-radius:calc(375px * (11/375));
    background:#123250 !important;
    -webkit-border-radius:calc(375px * (11/375));
    -moz-border-radius:calc(375px * (11/375));
    -ms-border-radius:calc(375px * (11/375));
    -o-border-radius:calc(375px * (11/375));
}

.swiper-pagination-basicstyle{
    bottom:38px !important;left:20px !important; display:inline-flex;width:auto !important;align-items:center;
}
.swiper-pagination-basicstyle .swiper-pagination-bullet{
    margin-right:7px !important;background-color:#a0a0a0;opacity:0.7
}
.swiper-pagination-basicstyle .swiper-pagination-bullet-active{
    background-color:#666;opacity:1
}

@import url('https://fonts.cdnfonts.com/css/campton');

/*@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: local(※), url(../fonts/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard-Thin.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: local(※), url(../fonts/Pretendard-ExtraLight.woff2) format("woff2"), url(../fonts/Pretendard-ExtraLight.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: local(※), url(../fonts/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard-Light.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: local(※), url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: local(※), url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: local(※), url(../fonts/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: local(※), url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: local(※), url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard-ExtraBold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: local(※), url(../fonts/Pretendard-Black.woff2) format("woff2"), url(../fonts/Pretendard-Black.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: local(※), url(../fonts/Poppins-Light.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: local(※), url(../fonts/Poppins-Regular.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: local(※), url(../fonts/Poppins-Medium.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: local(※), url(../fonts/Poppins-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: local(※), url(../fonts/Poppins-Bold.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: local(※), url(../fonts/Poppins-ExtraBold.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 300;
    src: local(※), url(../fonts/NotoSansJP-Light.woff2) format("woff2"), url(../fonts/NotoSansJP-Light.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 400;
    src: local(※), url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 500;
    src: local(※), url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 700;
    src: local(※), url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff")
}

@font-face {
    font-family: "Korail Round Gothic";
    font-weight: 700;
    src: local(※), url(../fonts/KorailRoundGothicBold.woff2) format("woff2")
}*/

::selection {
    color: #fff;
    background: #004098
}

body {
    -webkit-text-size-adjust: none
}

body.loading {
    overflow: hidden
}

body.scroll-lock {
    overflow: hidden
}

body.modal-open {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overscroll-behavior: none
}

body.modal-open .top__nav.fixed {
    opacity: 0;
    visibility: hidden
}

body::-webkit-scrollbar {
    width: 4px
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #333
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1)
}

.tac {
    text-align: center !important
}


/*header*/
.header{
    width:100%;position:relative;z-index:990;height:65px;
    background-color:rgba(255,255,255,0.5);
    &__inner{
        padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));padding-bottom:calc(630px * (25/630));
        padding-top:calc(630px * (22/630)); 
        display:flex;flex-flow:row nowrap;justify-content:space-between;
        align-items:center;
    }
    &__logo{
        width:calc(375px * (103/375));height:calc(375px * (19/375));
    }
    &__utilList{
        display:block;flex-flow:row nowrap;
        align-items:center;
    }
}
.header.on ,.header:hover{box-shadow:0 0 15px rgba(0,0,0,0.08);background-color:#fff}
.logo{
    width:100%;height:100%;
    &__link{
        display:block;width:100%;height:100%;
    }
    &__svgframe{
        width:100%;height:100%;display:block;
    }
}
.svgframe{
    width:100%;height:100%;display:flex;align-items:center;
    svg{
        width:100%;height:100%
    }
}
.utilList{
    display:flex;flex-flow:row nowrap;align-items:center;
    &__item{
        display:block;position:relative;
        .link{
            display:block;position:relative;
        }
    }
    &__item:nth-child(1){
        width:17px;height:18px;margin-right:calc(375px * (25/375));
    }
    &__item:nth-child(2){
        width:16px;height:20px;margin-right:calc(375px * (25/375));
    }
    &__item:nth-child(3){
        width:18px;height:14px;
    }
    &__svgframe{
        width:100%;height:100%;display:block;
    }
    &__countnum{
        position:absolute;
        display:flex;
        flex-flow:row wrap;
        justify-content:center;
        align-items:center;
        left:7.8px;
        bottom:7.9px;
        border-radius:50%;
        background-color:#fe4a4a;
        color:white;
        font-size:10px;
        font-weight:700;
        line-height:1;
        width:15px;
        height:15px;
        -webkit-border-radius:50%;
        -moz-border-radius:50%;
        -ms-border-radius:50%;
        -o-border-radius:50%;
    }
}
.botmenuwrap{
    height:97px;width:375px;position:fixed;left:31px;bottom:101px;overflow:hidden;z-index:999
}
.botmenu{
    height:100%;width:100%;position:absolute;top:0%;position:absolute;left:0;
    background-size:cover;background-repeat:no-repeat;background-position:center;
    background-image:url('../img/main/botMenuUse.png');
}

.filterbg{
    width:100%;height:100vh;background-color:rgba(0,0,0,0.5);position:absolute;left:0;top:0;z-index:9997;display:none;
}
.filterpopupwrap{
    height:530px;width:375px;overflow:hidden;bottom:101px;left:31px;position:fixed;z-index:9999;display:none;
    &__filter{
        bottom:0;width:100%;height:100%;display:block;position:absolute;left:0;display:none;
        img{
            width:100%;height:100%;display:block;
        }
    }
}

/*=========mainpage group styles=======================*/
/*메인비주얼*/
.KVsection{
    width:100%;min-height:calc(375px * (630/375));    
    &__inner{
        display:block;position:relative;padding-top:calc(630px * (518/630));padding-left:20px;padding-right:20px;
        background-size:cover;background-position:center;padding-bottom:72px;
    }
    &__titArea{
        display:block;
    }   
    &__title{
        width:210px;height:auto;display:block;margin-bottom:20px;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__message{
        width:335px;height:auto;display:block;margin-bottom:27px;
        img{
            width:100%;height:auto;display:block;
        }   
    }
    &__link{
        width:116px;height:auto;display:block;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__title--style2{
        width:157px;height:auto;display:block;margin-bottom:20px;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__message--style2{
        width:335px;height:auto;display:block;margin-bottom:27px;
        img{
            width:100%;height:auto;display:block;
        }   
    }
    &__link--style2{
        width:116px;height:auto;display:block;
        img{
            width:100%;height:auto;display:block;
        }
    }
}
.explorelink{
    display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;
    &__txt{
        font-size:calc(375px * (16/375));font-weight:550;line-height:0.8; color:#04263f
    }
    &__txt--colorwhite{
        color:#fff
    }
    &__link{        
        display:block;
    }
    &__svgframe{
        width:20px;height:14px;
    }
}

/*section01*/
.section01{   
    display:block;margin-top:calc(630px * (70/630));

    &__inner{
        display:block;padding-left:calc(375px * (20/375));
    }
    &__headTop{
        display:block;position:relative;
    }
    &__tit{
        display:block;margin-left:38px;width:258px;height:19px;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__swiperArea{
        display:block;padding-bottom:calc(630px * (40/630)) !important;padding-top:calc(630px * (40/630)) !important;
    }
    &__swiperslide{
        display:block;width:calc(375px * (195/375)) !important;height:auto;margin-right:calc(375px * (15/375));
    }
    &__seeallBtn{
        display:block;width:335px;height:41px;
        img{
            display:block;width:100%;height:auto;
        }
    }
}
.sectiontit{
    display:block;
}
.sectiontit img{
    width:100%;height:auto;display:block;
}
.relLink{
    display:block;
    &__link{
        display:block;font-size:calc(375px * (16/375));font-weight:550; color:#123250;
        text-decoration:underline;
    }
}
/*.productItem{
    display:block;width:100%;height:auto;
    &__imgframe{
        display:block;width:100%;height:calc(100vw * (195/375));
        .IMG{
            display:block;width:100%;height:100%;
        }
    }
    &__category{
        display:block;padding-top:calc(100vh * (25/630));padding-bottom:calc(100vh * (15/630));
        font-size:calc(100vw * (14/375));font-weight:400;letter-spacing:-0.28px;line-height:calc(100vw * (10/375));
        color:#04263f;
    }
    &__tit{
        display:block;padding-bottom:calc(100vh * (25/630));font-size:calc(100vw * (20/375));font-weight:550;line-height:1;text-transform:uppercase; color:#04263f;
    }
    &__price{
        display:block;font-weight:625;font-size:calc(100vw * (14/375));color:#123250;
    }
    &__point{
        color:#123250;font-size:calc(100vw * (14/375));color:#123250;font-weight:475;
    }
    &__cartbtn{
        display:flex;margin-top:calc(100vh * (27/630));align-items:center;
    }
    &__svgframe{
        display:inline-flex;
        width:calc(100vw * (11/375));height:calc(100vw * (13/375));
    }
    &__cartTxt{
        display:inline-flex; padding-left:calc(100vw * (5/375));font-size:calc(100vw * (14/375));font-weight:550;
    }
}*/

/*section02*/
.section02{
    display:block;
    &__inner{
        display:block;padding-left:calc(375px * (20/375));padding-top:70px;text-align:left;
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;padding-right:calc(375px * (20/375));
        width:201px;height:19px;margin:0 auto;
        .img{
            display:block;width:100%;height:auto;
        }
    }
    &__description{
        display:block;padding-top:calc(630px * (20/630));color:#04263f;font-size:calc(375px * (16/375));font-weight:475;line-height:calc(375px * (22/375));padding-right:calc(375px * (20/375));text-align:center;
    }
    &__swiperArea{
        display:block;
        padding-top:calc(630px * (40/630)) !important;padding-bottom:calc(630px * (66/630)) !important;
    }   
    &__swiperslide{
        display:block;width:calc(375px * (265/375)) !important;margin-right:calc(375px * (15/375));
        
    } 
}
.ritualItems{
    display:block;width:100%;height:100%;
}

.ritualItems{
    display:block;position:relative;
    padding-bottom:calc(630px * (23/630));padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));
    padding-top:calc(630px * (225/630));background-color:#d7d7d7;overflow:hidden;
    &__tonebg{
        display:block;position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;
        opacity:0.2;background-color:#303030;
    }
    &__bgimg{
        display:block;height:100%;width:100%;position:absolute;left:0;top:0;z-index:2;
        background-position:center;background-size:cover;background-repeat:no-repeat;
    }
    &__h4txt{
        display:block;font-size:calc(375px * (16/375));line-height:calc(375px * (11/375));font-weight:550; color:#fff;
        z-index:5;position:relative;
    }
    &__h3txt{
        display:block;font-size:calc(375px * (28/375));padding-top:calc(375px * (10/375));line-height:calc(375px * (19/375));color:#fff;padding-bottom:calc(375px * (20/375));font-weight:550;z-index:5;position:relative;
    }
    &__bottomtxt{
        display:block;font-size:calc(375px * (14/375));line-height:calc(375px * (10/375));font-weight:400;letter-spacing:-0.28px;color:#fff;z-index:5;position:relative;
    }
}

/*section03*/
.section03{
    display:block;background-color:#202020;position:relative;
    &__inner{
        display:block;
    }
    &__bannerbg{
        position:absolute;
        left:0%;
        top:0%; z-index:1;
        height:100%;width:100%;
        background-position:center;background-size:cover;background-repeat:no-repeat;
    }
}
.findRitualFrame{
    display:block;position:relative;padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));z-index:5;
    padding-top:calc(375px * (50/375));padding-bottom:calc(375px * (37/375));text-align:left;
    &__h3txt{
        font-size:calc(375px * (16/375));line-height:calc(375px * (11/375));font-weight:400;color:#fff;
        padding-bottom:calc(375px * (20/375));
    }
    &__h2txt{
        padding-bottom:calc(375px * (15/375));font-size:calc(375px * (40/375));font-weight:550;color:#fff;line-height:calc(375px * (27/375));
    }
    &__link{
        margin-top:calc(375px * (46/375));width:335px;height:14px;display:block;
        img{
            width:100%;height:auto;display:block;
        }
    }
}

/*section04*/
.section04{
    display:block;
    &__inner{
        padding-top:calc(630px * (70/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        margin:0 auto;display:block;margin-bottom:calc(630px * (30/630));width:294px;height:19px;
    }
    &__swiperArea{
        width:100%;padding-bottom:calc(375px * (110/375)) !important;display:block;background-color:#f5f5f5;
    }
    &__swiperslide{
        width:100%;height:auto;
    }
}
.fullwideSlideItem{
    display:block;width:100%;height:auto;text-align:left;
    &__imgframe{
        display:block;position:relative;margin-bottom:calc(375px * (30/375));background-color:#d7d7d7;
        height:calc(375px * (170/375));
        .IMG{
            width:100%;height:100%;display:block;
        }
    }
    &__category{
        margin-left:calc(375px * (20/375));width:calc(375px * (193/375));font-size:calc(375px * (18/375));line-height:calc(375px * (17/375));font-weight:550;color:#123250;padding-bottom:calc(375px * (23/375));
        margin-top:calc(630px * (30/630));
    }
    &__txt{
        padding-bottom:calc(375px * (15/375));line-height:calc(375px * (11/375));font-size:calc(375px * (16/375));color:#123250;font-weight:400;padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));
    }
    &__txt:last-child{
        padding-bottom:0;
    }
    &__link{
        padding-top:calc(375px * (26/375));line-height:calc(375px * (18/375));font-weight:475; color:#123250;font-size:calc(375px * (16/375));text-decoration:underline;padding-left:calc(375px * (20/375));display:block;
    }
}

.section05{
    display:block;
    &__inner{   
        padding-left:calc(375px * (0/375));display:block;padding-top:calc(630px * (70/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;width:96px;height:19px;margin:0 auto;
    }
    &__description{
        padding-top:calc(630px * (21/630));padding-bottom:calc(630px * (23/630));text-align:center;margin:0 auto;
        width:calc(375px * (308/375));line-height:calc(375px * (19/375));color:#123250;font-size:calc(375px * (16/375));font-weight:400;
    }
    &__swiperArea{
        padding-bottom:calc(375px * (70/375)) !important;
    }
    &__swiperslide{
        display:block;width:calc(375px * (160/375)) !important;height:calc(375px * (160/375)) !important;
    }
}
.onlyImgSlideItem{
    width:100%;height:100%;display:block;background-color:#a7a7a7;
    &__imgframe{
        width:100%;height:100%;display:block;
        .IMG{
            width:100%;height:100%;display:block;
        }
    }
}

/*section06*/
.section06{
    display:block;
    &__inner{
        width:100%;display:block;padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));
        padding-bottom:calc(375px * (60/375));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;width:145px;height:19px;margin:0 auto;
    }
    &__columnList{
        padding-top:calc(375px * (50/375));
    }
}
.columnList{
    display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between;
    &__item{
        width:calc(100% * (160/335));height:auto;padding-bottom:calc(375px * (30/375));text-align:left;
    }
    &__itemimg{
        width:100%;height:calc(375px * (160/375));background-color:#d9d9d9;overflow:hidden;
        background-size:cover;background-repeat:no-repeat;background-position:center;
    }
    &__itemtitle{
        padding-top:calc(375px * (25/375));font-size:calc(375px * (16/375));line-height:calc(375px * (15/375));color:#123250;font-weight:550;padding-bottom:calc(375px * (10/375));
    }
    &__itemstory{
        font-size:calc(375px * (14/375));line-height:calc(375px * (16/375));color:#123250;text-overflow:ellipsis;overflow:hidden;height:calc(375px * (49/375));font-weight:400;
    }
    &__itemlink{
        padding-top:calc(375px * (25/375));font-size:calc(375px * (14/375));font-weight:550; color:#123250;line-height:calc(375px * (18/375));text-decoration:underline;display:block;
    }
}

/*footer*/
.footer{
    display:block;background-color:#04263f;color:white;text-align:left;
    &__inner{
        padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));padding-bottom:calc(630px * (52/630));
        padding-top:calc(630px * (50/630));
    }
    &__logo{
        width:calc(375px * (103/375));height:calc(375px * (18/375));
    }
    &__description{
        padding-top:calc(630px * (20/630));padding-bottom:calc(630px * (42/630));font-size:calc(375px * (14/375));line-height:calc(375px * (19/375));font-weight:400;
    }
    &__email{
        display:block;
    }
    &__explorelink{
        display:block;margin-top:calc(630px * (50/630));
    }
    &__linkUnderline{
        margin-top:calc(630px * (30/630));margin-bottom:calc(630px * (30/630));width:100%;height:calc(375px * (1/375));background-color:#fff;
    }
    &__linkUnderline:last-child{
        margin-bottom:0
    }
}
.emailForm{
    display:block;
    &__inputwrap{
        display:block;
    }
    &__inputfield{
        font-size:calc(375px * (16/375));line-height:calc(375px * (11/375));font-weight:400;padding-bottom:calc(375px * (19/375));color:#fff;
    }
    &__inputfield::placeholder{
        color:#fff;
    }
    &__inputUnderline{
        width:100%;height:calc(375px * (1/375));background-color:#fff;display:block;
    }
    &__submit{
        margin-top:calc(375px * (20/375));width:100%;height:calc(375px * (50/375));font-size:calc(375px * (16/375));line-height:calc(375px * (11/375));font-weight:550;border-style:solid;border-color:white;border-width:calc(375px * (1/375));
    }
}
/*=========mainpage and common(gnb,footer) group styles=======================*/

/*=========productListpage and common(gnb,footer) group styles=======================*/
.proListSection01{
    display:block;
    &__inner{
        display:block;padding-bottom:calc(630px * (78/630));background-color:white;
    }
    &__visualImg{
        width:100%;height:calc(375px * (245/375));display:block;background-color:#d7d7d7;position:relative;overflow:hidden;
        background-size:cover;background-repeat:no-repeat;background-position:center;
    }
    &__titArea{
        padding-top:calc(375px * (62/375));text-align:center;
    }
    &__title{
        font-weight:700;line-height:calc(375px * (38/375));font-size:calc(375px * (32/375));color:#123250;font-weight:550;
    }
    &__message{
        font-weight:700;line-height:calc(375px * (11/375));font-size:calc(375px * (16/375));color:#123250;padding-bottom:calc(375px * (18/375));padding-top:36px;
    }
    &__description{
        font-size:calc(375px * (16/375));font-weight:400;line-height:calc(375px * (22/375));color:#123250;
    }
}
.proListSection02{
    display:block;
    &__inner{
        width:100%;padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));padding-bottom:calc(630px * (70/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        font-size:calc(375px * (32/375));color:#123250;padding-bottom:calc(375px * (35/375));font-weight:700;line-height:calc(375px * (22/375));text-align:left;
    }
    &__cont{
        display:block;
    }   
    &__catFrame{
        margin-top:calc(375px * (30/375));background-size:cover;background-repeat:no-repeat;background-position:center;position:relative;
        .blurfade{
            background: linear-gradient(48deg, #212121 0%, rgba(33, 33, 33, 0.00) 100%);
            position:absolute;width:100%;height:100%;z-index:6;left:0;top:0;opacity:0.3;
        }
    }
    &__catProList{
        margin-top:calc(630px * (40/630));
    }
    &__viewmore{
        margin-top:calc(630px * (20/630));width:100%;padding-top:calc(375px * (15/375));padding-bottom:calc(375px * (15/375));border-width:1px;border-style:solid;border-color:#04263f;
        display:flex;justify-content:center;align-items:center;
    }
    &__viewmoretxt{
        font-size:calc(375px * (16/375));font-weight:700;color:#212121;
    }
}
.listControl{
    display:flex;flex-flow:row nowrap;align-items:center;color:#212121;
    &__filter{
        width:50%;height:auto;
        padding-top:calc(375px * (10/375));padding-bottom:calc(375px * (10/375));display:inline-flex;
        justify-content:center;align-items:center;flex-flow:row nowrap;
        border-right-width:calc(375px * (1/375));border-color:#212121;border-top-width:1px;border-bottom-width:1px; border-style:solid;
        border-left-width:0;
    }
    &__filtertxt{
        font-size:calc(375px * (16/375));font-weight:700; padding-right:calc(375px * (4/375))
    }
    &__svgframe{
        display:block;width:calc(375px * (16/375));height:calc(375px * (16/375));
    }
    &__sort{
        width:50%;height:auto;
        padding-top:calc(375px * (10/375));padding-bottom:calc(375px * (10/375));display:inline-flex;
        justify-content:center;align-items:center;flex-flow:row nowrap;
        border-right-width:0;border-color:#212121;border-top-width:1px;border-bottom-width:1px; border-style:solid;
        border-left-width:0;
    }
    &__sorttxt{
        font-size:calc(375px * (16/375));font-weight:700; padding-right:calc(375px * (4/375))
    }
}
.proListcatFrame{
    width:100%;height:auto;display:block;padding-left:calc(375px * (24/375));padding-right:calc(375px * (24/375));color:#fff;text-align:left;position:relative;z-index:10;
    &__tit{
        padding-top:calc(630px * (243/630));padding-bottom:calc(630px * (18/630));line-height:calc(375px * (20/375));font-size:calc(375px * (28/375));font-weight:700;
    }
    &__description{
        padding-bottom:calc(630px * (24/630));font-size:calc(375px * (16/375));font-weight:400;line-height:23px;
    }
}
.ProductListWrap{
    display:flex;justify-content:space-between;align-items:center;flex-flow:row wrap;
    &__item{
        width:calc(100% * (160/335));height:auto;padding-bottom:calc(100vh * (20/630));
    }
    &__itemimg{
        display:block;width:100%;height:calc(375px * (160/375));position:relative;overflow:hidden;
        .IMG{
            display:block;
            position:absolute;
            transform:translateX(-50%) translateY(-50%);
            top:50%;
            left:50%;
            width:100%;
            height:100%;
            -webkit-transform:translateX(-50%) translateY(-50%);
            -moz-transform:translateX(-50%) translateY(-50%);
            -ms-transform:translateX(-50%) translateY(-50%);
            -o-transform:translateX(-50%) translateY(-50%);
        }
    }
    &__itemcategory{
        padding-top:calc(630px * (20/630));padding-bottom:calc(630px * (15/630));font-size:calc(375px * (14/375));line-height:calc(375px * (10/375));font-weight:400;letter-spacing:-0.28px;color:#212121;text-align:left;
    }   
    &__itemtit{
        font-size:calc(375px * (18/375));font-weight:700;line-height:calc(375px * (24/375));height:calc(375px * (49/375));overflow:hidden;text-overflow:ellipsis;text-align:left;
    }
    &__price{
        padding-top:calc(630px * (12/630));padding-bottom:calc(630px * (20/630)); display:flex;align-items:center;
        font-size:calc(375px * (18/375));line-height:calc(375px * (12/375));font-weight:700;text-align:left;
        .sepbar{
            width:1px;height:100%;margin:0 8px;background-color:#212121;display:block;height:10px;
        }
    }
    &__point{
        font-weight:400;text-align:left;
    }

    &__cartbtn{
        display:block;
    }
    &__eventpoint{
        display:flex;margin-top:calc(630px * (12/630));justify-content:center;
    }
}
/*productList에서 기원된 범용적cartbtn*/
.cartbtn{
    display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;padding-top:calc(630px * (12/630));padding-bottom:calc(630px * (12/630));background-color:#04263f;width:100%;color:white;
    &__svgframe{
        display:block;width:calc(375px * (15/375));height:calc(375px * (15/375));
    }
    &__cartTxt{
        padding-left:calc(375px * (5/375));font-size:calc(375px * (14/375));font-weight:700;
        line-height:calc(375px * (12/375));
    }
}
.eventpoint{
    display:inline-flex;flex-flow:nowrap;justify-content:center;align-items:center;border-style:solid;margin:0 auto;border-width:0;border-bottom-width:1px;border-color:#666;
    &__svgframe{
        width:calc(375px * (12/375));height:calc(375px * (12/375));display:block;
    }
    &__txt{
        padding-left:calc(375px * (4/375));font-size:calc(375px * (14/375));color:#666;font-weight:400;
    }
}
.moreplusicon{
    display:block;width:calc(375px * (11/375));height:calc(375px * (11/375));margin-right:calc(375px * (6/375))
}

.proListSection03{
    display:block;width:100%;height:calc(375px * (260/375));background-color:#a7a7a7;background-size:cover;background-repeat:no-repeat;background-position:center;
}

.proListSection04{
    display:block;
    &__inner{
        padding-left:calc(375px * (20/375));padding-right:calc(375px * (20/375));
        padding-top:calc(630px * (70/630));padding-bottom:calc(630px * (90/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
       display:block;font-size:32px;line-height:36px;font-weight:700;color:#212121;text-align:left;
    }
    &__columnList{
        margin-top:calc(630px *(38/630));
    }
}

/*상품상세페이지 최상단부 갤러리슬라이ㅓㄷ*/
.swiper-slide-thumb-active .thumbsActive_outline{
    border-width:calc(375px * (3/375)) !important;border-style:solid !important;border-color:#123250 !important;
}
.productViewSwiper{
    margin-top:calc(630px * (65/630)) !important;margin-bottom:calc(630px * (12/630))  !important;width:100%;height:calc(375px * (375/375))  !important;background-color:white;
    &__slider{
        width:100%;height:calc(375px * (375/375)) !important;background-color:white;
        background-size:cover;background-repeat:no-repeat;background-position:center;
    }
}
.productThumbsViewSwiper{
    padding-left:calc(375px * (20/375)) !important;padding-bottom:calc(630px * (40/630)) !important;
    &__slider{
        width:calc(375px * (75/375)) !important;height:calc(375px * (75/375)) !important;background-color:#a7a7a7;margin-right:calc(375px * (8/375));
        background-size:cover;background-repeat:no-repeat;background-position:center;
        .thumbsActive_outline{
            border:none;
            width:100%;height:100%;position:absolute;right:0;top:0;
        }
    }
}

.pdsection01{
    display:block;padding-left:20px;padding-right:20px;
    &__topPart{
        width:100%;height:auto;display:block;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__sepbar{
        margin-top:40px;margin-bottom:48px;width:100%;height:1px;background-color:#212121;
    }
    &__options{
        width:100%;height:auto;
        img{
            display:block;width:100%;height:auto;
        }
    }
    &__buybutton{
        margin-top:10px;width:100%;height:auto;
    }
    &__description{
        margin-top:70px;padding-bottom:70px;
        img{
            display:block;width:100%;height:auto;
        }
    }   
}
.bagButton{
    width:100%;
    height:auto;
    display:flex;
    flex-flow:row nowrap;
    justify-content:center;
    align-items:center;
    color:white;
    padding-top:16px;
    padding-bottom:16px;
    background-color:#063451;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;

    &__price
    {
        font-size:14px;font-weight:700;letter-spacing:-0.28px;
    }
    &__sepbar{
        margin-left:8px;
        margin-right:8px;
        width:1px;
        height:10px;
        background-color:#666;
        display:block;
        transition:  all 0.5s ease-out;
        -webkit-transition:  all 0.5s ease-out;
        -moz-transition:  all 0.5s ease-out;
        -ms-transition:  all 0.5s ease-out;
        -o-transition:  all 0.5s ease-out;
}
    &__txt{
        font-size:14px;font-weight:700;letter-spacing:-0.28px;
    }
}
.bagButton:hover{
    width:100%;height:auto;
    display:flex;flex-flow:row nowrap;justify-content:center;align-items:center; color:#063451;padding-top:16px;padding-bottom:16px;
    background-color:#c79050;
    &__price{
        font-size:14px;font-weight:700;letter-spacing:-0.28px;
    }
    &__sepbar{
        margin-left:8px;margin-right:8px;width:1px;height:10px;background-color:#fff;display:block;
    }
    &__txt{
        font-size:14px;font-weight:700;letter-spacing:-0.28px;
    }
}

.pdsection02{
    display:block;padding-bottom:50px;
    &__accordList{
        display:block;
    }
    &__accordItem{
        display:block;
    }
    &__accordCont{
        display:block;
    }
    &__accordSubchild{
        display:block;padding-top:40px;
    }
    &__howtovideo{
        display:block;height:auto;
        img{
            display:block;width:100%;height:auto;
        }
    }
    &__howtodesc{
        display:block;margin-top:40px;padding-left:20px;padding-right:20px;padding-bottom:70px;
        img{
            width:100%;height:auto;display:block;
        }
    }
}
.accordCont{
    display:flex;flex-flow:row nowrap;justify-content:space-between;align-items:center;padding-left:20px;padding-right:20px;padding-top:20px;padding-bottom:20px;
    border-style:solid;border-color:#212121;border-width:1px;
    &__txt{
        font-size:16px;font-weight:400;color:#212121;
    }
    &__iconwrap{
        width:11px;height:11px;position:relative;display:flex;flex-flow:row nowrap;align-items:center;justify-content:center;   
    }
    &__verticalTarget{
       width:1px;
       height:100%;
       background-color:#212121;
       position:absolute;
       left:50%;
       top:50%;
       transform:translateX(-50%) translateY(-50%);
       -moz-transform:translateX(-50%) translateY(-50%);
       -ms-transform:translateX(-50%) translateY(-50%);
       -o-transform:translateX(-50%) translateY(-50%);
       -webkit-transform:translateX(-50%) translateY(-50%);
    }
    &__horizontal{
        width:100%;height:1px;background-color:#212121;
    }
}

.pdsection03{
    display:block;margin-top:50px;text-align:left;
    &__inner{
        width:100%;height:auto;padding-left:20px;
    }
    &__tit{
        padding-right:20px;width:100%;height:auto;font-size:32px;font-weight:700;line-height:40px;color:#212121;
    }
    &__swiperArea{
       padding-top:40px !important;padding-bottom:70px !important;
    }
    &__swiperslide{
        width:196px !important;height:auto;display:block;margin-right:12px;
        img{
            width:100%;height:auto;display:block;
        }
    }
}
.SlideItem{
    width:100%;height:auto;display:block;
    img{
        width:100%;height:auto;display:block;
    }
}

.pdsection04{
    display:block;
    &__inner{
        width:100%;height:auto;display:block;padding-left:20px;padding-bottom:60px;
    }
    &__tit{
        padding-bottom:40px;font-size:32px;font-weight:700;line-height:36px;color:#212121;
    }
    &__reviewPercent{
        padding-right:20px;width:100%;display:block;padding-bottom:40px;
        img{
            width:100%;height:auto;display:block;
        }
    }
    &__revList{
        width:100%;height:auto;
    }
    &__revItem{
        display:block;height:auto;
    }
    &__revscore:nth-child(1){
        width:142px;height:auto;display:block;
        img{
            display:block;width:100%;height:auto;
        }
    }
    &__revscore:nth-child(2){
        width:158px;height:auto;display:block;
        img{
            display:block;width:100%;height:auto;
        }
    }
    &__revcomment{
        padding-top:24px;width:100%;padding-right:20px;
        img{
            display:block;width:100%;height:auto;
        }
    }
    &__revdate{
        margin-top:26px;width:100%;padding-right:20px;
        img{
            display:block;width:100%;height:auto;
        }
    }
    /*swiper-container*/
    &__revPictures{
        padding-top:30px !important;padding-bottom:31px !important;
    }
    /*swiper-slide*/
    &__revPictureitem{
        width:100px !important;height:100px  !important;overflow:hidden;position:relative;margin-right:10px  !important;
    }
    &__revbar{
        width:335px;height:1px;background-color:#212121;display:block;margin-bottom:50px;
    }
}
.revPictureframe{
    width:100%;height:100%;display:block;background-size:cover;background-repeat:no-repeat;background-position:center;
}


/*블로그페이지*/
.blogPosthead{
    padding-top:85px;background-color:white;padding-bottom:40px;width:242px;margin:0 auto;
    img{
        display:block;width:100%;height:auto;
    }
}
.blogDecoline{
    width:335px;margin:0 auto;background-color:#212121;height:1px;
}
.blogPostBody{
    margin-top:40px;width:100%;padding-left:20px;padding-right:20px;padding-bottom:70px;
    img{
        display:block;width:100%;height:auto;
    }
}
.blogPostRelated{
    width:100%;height:auto;padding-left:20px;padding-right:20px;padding-bottom:115px;
    img{
        display:block;width:100%;height:auto;
    }
}