/*reset css stylize base */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}
html,body{
    height:100%;width:100%;
}
.blind{
    display:none;
}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,span,input,textarea,select,button,th,td,blockquote,h1,h2,h3,h4,h5,h6,figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: top
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400
}

ul,ol,li {
    list-style: none
}

a {
    color: inherit;
    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box
}

img {
    max-width: 100%;
    vertical-align: top
}

.blind {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0;
    visibility: hidden
}

.clear:after {
    content: "";
    display: block;
    clear: both
}

button {
    display: inline-block;
    color: inherit;
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    font: inherit;
    cursor: pointer;
    outline: none
}

input,select,textarea {
    font: inherit;
    border: 0 none;
    background: rgba(0, 0, 0, 0);
    outline: none
}

q,blockquote {
    font-family: "Campton"
}

q::before,
q::after,
blockquote::before,
blockquote::after {
    content: none
}

.tac {
    text-align: center !important
}

.tar {
    text-align: right !important
}

.tal {
    text-align: left !important
}

/*swiper관련*/
.swiper-pagination-bulletStyle{
    bottom:calc(100vh * (70/630)) !important;left:calc(100vw * (116/375))  !important;display:inline-block;width:auto !important;
}
.swiper-pagination-bulletStyle .swiper-pagination-bullet{
    width:calc(100vw * (10/375)) !important;  height:calc(100vw * (10/375)) !important; margin:0 !important;margin-right:calc(100vw * (9/375)) !important;  background: #e0e0e0 !important; opacity: 0.7 !important;  
}
.swiper-pagination-bulletStyle .swiper-pagination-bullet-active{
    width:calc(100vw * (20/375)) !important;border-radius:calc(100vw * (11/375));background:#123250 !important;
}


@import url('https://fonts.cdnfonts.com/css/campton');

/*@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    src: local(※), url(../fonts/Pretendard-Thin.woff2) format("woff2"), url(../fonts/Pretendard-Thin.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    src: local(※), url(../fonts/Pretendard-ExtraLight.woff2) format("woff2"), url(../fonts/Pretendard-ExtraLight.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    src: local(※), url(../fonts/Pretendard-Light.woff2) format("woff2"), url(../fonts/Pretendard-Light.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    src: local(※), url(../fonts/Pretendard-Regular.woff2) format("woff2"), url(../fonts/Pretendard-Regular.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    src: local(※), url(../fonts/Pretendard-Medium.woff2) format("woff2"), url(../fonts/Pretendard-Medium.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    src: local(※), url(../fonts/Pretendard-SemiBold.woff2) format("woff2"), url(../fonts/Pretendard-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    src: local(※), url(../fonts/Pretendard-Bold.woff2) format("woff2"), url(../fonts/Pretendard-Bold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    src: local(※), url(../fonts/Pretendard-ExtraBold.woff2) format("woff2"), url(../fonts/Pretendard-ExtraBold.woff) format("woff")
}

@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    src: local(※), url(../fonts/Pretendard-Black.woff2) format("woff2"), url(../fonts/Pretendard-Black.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 300;
    src: local(※), url(../fonts/Poppins-Light.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: local(※), url(../fonts/Poppins-Regular.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: local(※), url(../fonts/Poppins-Medium.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 600;
    src: local(※), url(../fonts/Poppins-SemiBold.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 700;
    src: local(※), url(../fonts/Poppins-Bold.woff) format("woff")
}

@font-face {
    font-family: "Poppins";
    font-weight: 800;
    src: local(※), url(../fonts/Poppins-ExtraBold.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 300;
    src: local(※), url(../fonts/NotoSansJP-Light.woff2) format("woff2"), url(../fonts/NotoSansJP-Light.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 400;
    src: local(※), url(../fonts/NotoSansJP-Regular.woff2) format("woff2"), url(../fonts/NotoSansJP-Regular.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 500;
    src: local(※), url(../fonts/NotoSansJP-Medium.woff2) format("woff2"), url(../fonts/NotoSansJP-Medium.woff) format("woff")
}

@font-face {
    font-family: "Noto Sans JP";
    font-weight: 700;
    src: local(※), url(../fonts/NotoSansJP-Bold.woff2) format("woff2"), url(../fonts/NotoSansJP-Bold.woff) format("woff")
}

@font-face {
    font-family: "Korail Round Gothic";
    font-weight: 700;
    src: local(※), url(../fonts/KorailRoundGothicBold.woff2) format("woff2")
}*/

::selection {
    color: #fff;
    background: #004098
}

body {
    -webkit-text-size-adjust: none
}

body.loading {
    overflow: hidden
}

body.scroll-lock {
    overflow: hidden
}

body.modal-open {
    overflow: hidden;
    touch-action: none;
    -webkit-overflow-scrolling: none;
    overscroll-behavior: none
}

body.modal-open .top__nav.fixed {
    opacity: 0;
    visibility: hidden
}

body::-webkit-scrollbar {
    width: 4px
}

body::-webkit-scrollbar-thumb {
    height: 30%;
    background: #333
}

body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, .1)
}

.tac {
    text-align: center !important
}

/*header*/
.header{
    width:100%;position:fixed;left:0;top:0;z-index:990;
    background-color:rgba(255,255,255,0.5);
    &__inner{
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));padding-bottom:calc(100vh * (25/630));
        padding-top:calc(100vh * (22/630)); 
        display:flex;flex-flow:row nowrap;justify-content:space-between;
        align-items:center;
    }
    &__logo{
        width:calc(100vw * (103/375));height:calc(100vw * (19/375));
    }
    &__utilList{
        display:block;flex-flow:row nowrap;
        align-items:center;
    }
}
.logo{
    width:100%;height:100%;
    &__link{
        display:block;width:100%;height:100%;
    }
    &__svgframe{
        width:100%;height:100%;display:block;
    }
}
.svgframe{
    width:100%;height:100%;display:flex;align-items:center;
    svg{
        width:100%;height:100%
    }
}
.utilList{
    display:flex;flex-flow:row nowrap;align-items:center;
    &__item{
        display:block;position:relative;
        .link{
            display:block;position:relative;
        }
    }
    &__item:nth-child(1){
        width:17px;height:18px;margin-right:calc(100vw * (25/375));
    }
    &__item:nth-child(2){
        width:16px;height:20px;margin-right:calc(100vw * (25/375));
    }
    &__item:nth-child(3){
        width:18px;height:14px;
    }
    &__svgframe{
        width:100%;height:100%;display:block;
    }
    &__countnum{
        position:absolute;display:flex;flex-flow:row wrap;justify-content:center;align-items:center;
        left:7.8px;bottom:7.9px;border-radius:50%; background-color:#fe4a4a; color:white;
        font-size:10px;font-weight:700;line-height:1;
        width:15px;height:15px; 
    }
}

/*=========mainpage group styles=======================*/
/*메인비주얼*/
.KVsection{
    width:100%;min-height:calc(100vw * (630/375));    
    &__inner{
        display:block;position:relative;padding-top:calc(100vh * (90/630));
    }
    &__titArea{
        display:block;
    }   
    &__title{
        font-size:calc(100vw * (52/375));line-height:calc(100vw * (35/375));height:calc(100vw * (35/375));font-weight:550;color:#04263f;
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375))   
    }
    &__title:nth-child(1){
        margin-bottom:calc(100vh * (15/630));
    }
    &__title:nth-child(2){
        font-style:italic;
    }
    &__description{
        padding-top:calc(100vh * (25/630));
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));  
        font-size:calc(100vw * (16/375));line-height:calc(100vw * (22/375));font-weight:475;
    }
    &__explorelink{
        padding-top:calc(100vh * (30/630));padding-bottom:calc(100vh * (27/630));
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
    }
    &__visualImg{
        width:100%;height:calc(100vw * (419/375));display:block;background-color:#808080;
        .IMG{
            width:100%;height:auto;
        }
    }
}
.explorelink{
    display:flex;flex-flow:row nowrap;align-items:center;justify-content:space-between;
    &__txt{
        font-size:calc(100vw * (16/375));font-weight:550;line-height:0.8; color:#04263f
    }
    &__txt--colorwhite{
        color:#fff
    }
    &__link{        
        display:block;
    }
    &__svgframe{
        width:20px;height:14px;
    }
}

/*section01*/
.section01{   
    display:block;margin-top:calc(100vh * (70/630));

    &__inner{
        display:block;padding-left:calc(100vw * (20/375));
    }
    &__headTop{
        display:block;position:relative;
    }
    &__tit{
        display:block;font-size:calc(100vw* (32/375)); line-height:calc(100vw * (29/375));font-weight:550;text-transform:uppercase;
        color:#04263f
    }
    &__relLink{
        display:block;position:absolute;right:calc(100vw * (20/375));bottom:0;
    }
    &__swiperArea{
        display:block;padding-bottom:calc(100vh * (120/630)) !important;padding-top:calc(100vh * (40/630)) !important;
    }
    &__swiperslide{
        display:block;width:calc(100vw * (195/375)) !important;height:auto;margin-right:calc(100vw * (15/375));
    }
}
.sectiontit{
    display:block;
    font-size:calc(100vw* (32/375)); line-height:calc(100vw * (22/375));font-weight:550;text-transform:uppercase;
    color:#04263f
}
.relLink{
    display:block;
    &__link{
        display:block;font-size:calc(100vw * (16/375));font-weight:550; color:#123250;
        text-decoration:underline;
    }
}
.productItem{
    display:block;width:100%;height:auto;background-color:#a7a7a7;
    &__imgframe{
        display:block;width:100%;height:calc(100vw * (195/375));background-color:#505050;
        .IMG{
            display:block;width:100%;height:100%
        }
    }
    &__category{
        display:block;padding-top:calc(100vh * (25/630));padding-bottom:calc(100vh * (15/630));
        font-size:calc(100vw * (14/375));font-weight:400;letter-spacing:-0.28px;line-height:calc(100vw * (10/375));
        color:#04263f;
    }
    &__tit{
        display:block;padding-bottom:calc(100vh * (25/630));font-size:calc(100vw * (20/375));font-weight:550;line-height:1;text-transform:uppercase; color:#04263f;
    }
    &__price{
        display:block;font-weight:625;font-size:calc(100vw * (14/375));color:#123250;
    }
    &__point{
        color:#123250;font-size:calc(100vw * (14/375));color:#123250;font-weight:475;
    }
    &__cartbtn{
        display:flex;margin-top:calc(100vh * (27/630));align-items:center;
    }
    &__svgframe{
        display:inline-flex;
        width:calc(100vw * (11/375));height:calc(100vw * (13/375));
    }
    &__cartTxt{
        display:inline-flex; padding-left:calc(100vw * (5/375));font-size:calc(100vw * (14/375));font-weight:550;
    }
}

/*section02*/
.section02{
    display:block;
    &__inner{
        display:block;padding-left:calc(100vw * (20/375));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;font-size:calc(100vw * (32/375));font-weight:500;line-height:calc(100vw * (36/375));text-transform:uppercase; color:#04263f;padding-right:calc(100vw * (20/375));
    }
    &__description{
        display:block;padding-top:calc(100vh * (20/630));color:#04263f;font-size:calc(100vw * (16/375));font-weight:475;line-height:calc(100vw * (22/375));padding-right:calc(100vw * (20/375));
    }
    &__swiperArea{
        display:block;
        padding-top:calc(100vh * (40/630)) !important;padding-bottom:calc(100vh * (66/630)) !important;
    }   
    &__swiperslide{
        display:block;width:calc(100vw * (265/375)) !important;margin-right:calc(100vw * (15/375));
        
    } 
}
.ritualItems{
    display:block;width:100%;height:100%;
}

.ritualItems{
    display:block;position:relative;
    padding-bottom:calc(100vh * (23/630));padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
    padding-top:calc(100vh * (225/630));background-color:#d7d7d7;
    &__tonebg{
        display:block;position:absolute;top:0;left:0;z-index:3;width:100%;height:100%;
        opacity:0.2;background-color:#e0e0e0;
    }
    &__bgimg{
        display:block;height:100%;width:auto;position:absolute;left:1%;top:50%;transform:translateY(-50%);z-index:2;
    }
    &__h4txt{
        display:block;font-size:calc(100vw * (16/375));line-height:calc(100vw * (11/375));font-weight:550; color:#fff;
        z-index:5;position:relative;
    }
    &__h3txt{
        display:block;font-size:calc(100vw * (28/375));padding-top:calc(100vw * (10/375));line-height:calc(100vw * (19/375));color:#fff;padding-bottom:calc(100vw * (20/375));font-weight:550;z-index:5;position:relative;
    }
    &__bottomtxt{
        display:block;font-size:calc(100vw * (14/375));line-height:calc(100vw * (10/375));font-weight:400;letter-spacing:-0.28px;color:#fff;z-index:5;position:relative;
    }
}

/*section03*/
.section03{
    display:block;background-color:#202020;
    &__inner{
        display:block;
    }
}
.findRitualFrame{
    display:block;position:relative;padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
    padding-top:calc(100vw * (44/375));padding-bottom:calc(100vw * (44/375));
    &__h3txt{
        font-size:calc(100vw * (16/375));line-height:calc(100vw * (11/375));font-weight:400;color:#fff;
        padding-bottom:calc(100vw * (29/375));
    }
    &__h2txt{
        padding-bottom:calc(100vw * (15/375));font-size:calc(100vw * (40/375));font-weight:550;color:#fff;line-height:calc(100vw * (27/375));
    }
    &__exploreLink{
        padding-top:calc(100vw * (46/375));
    }
}

/*section04*/
.section04{
    display:block;
    &__inner{
        padding-top:calc(100vh * (66/630));
    }
    &__headTop{
        padding-left:calc(100vw * (20/375));
    }
    &__tit{
        display:block;padding-bottom:calc(100vh * (37/630));
    }
    &__swiperArea{
        width:100%;padding-bottom:calc(100vw * (110/375)) !important;display:block;
    }
    &__swiperslide{
        width:100%;height:auto;
    }
}
.fullwideSlideItem{
    display:block;width:100%;height:auto;
    &__imgframe{
        display:block;position:relative;padding-bottom:calc(100vw * (30/375));background-color:#d7d7d7;
        height:calc(100vw * (170/375));
        .IMG{
            width:100%;height:100%;display:block;
        }
    }
    &__category{
        margin-left:calc(100vw * (20/375));width:calc(100vw * (193/375));font-size:calc(100vw * (18/375));line-height:calc(100vw * (17/375));font-weight:550;color:#123250;padding-bottom:calc(100vw * (23/375));
        margin-top:calc(100vh * (30/630));
    }
    &__txt{
        padding-bottom:calc(100vw * (15/375));line-height:calc(100vw * (11/375));font-size:calc(100vw * (16/375));color:#123250;font-weight:400;padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
    }
    &__txt:last-child{
        padding-bottom:0;
    }
    &__link{
        padding-top:calc(100vw * (26/375));line-height:calc(100vw * (18/375));font-weight:475; color:#123250;font-size:calc(100vw * (16/375));text-decoration:underline;padding-left:calc(100vw * (20/375));display:block;
    }
}

.section05{
    display:block;
    &__inner{   
        padding-left:calc(100vw * (20/375));display:block;padding-top:calc(100vh * (10/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;
    }
    &__description{
        padding-top:calc(100vh * (20/630));padding-bottom:calc(100vh * (19/630));
        width:calc(100vw * (308/375));line-height:calc(100vw * (19/375));color:#123250;font-size:calc(100vw * (16/375));font-weight:400;
    }
    &__swiperArea{
        padding-bottom:calc(100vw * (118/375)) !important;
    }
    &__swiperslide{
        display:block;width:calc(100vw * (160/375)) !important;height:calc(100vw * (160/375)) !important;margin-right:calc(100vw * (14/375));
    }
}
.onlyImgSlideItem{
    width:100%;height:100%;display:block;background-color:#a7a7a7;
    &__imgframe{
        width:100%;height:100%;display:block;
        .IMG{
            width:100%;height:100%;display:block;
        }
    }
}

/*section06*/
.section06{
    display:block;
    &__inner{
        width:100%;display:block;padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
        padding-bottom:calc(100vw * (60/375));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        display:block;
    }
    &__columnList{
        padding-top:calc(100vw * (40/375));
    }
}
.columnList{
    display:flex;flex-flow:row wrap;align-items:center;justify-content:space-between;
    &__item{
        width:calc(100% * (160/335));height:auto;padding-bottom:calc(100vw * (30/375));
    }
    &__itemimg{
        width:100%;height:calc(100vw * (160/375));background-color:#d9d9d9;overflow:hidden;
        .IMG{
            width:auto;height:110%;display:block;position:absolute;
            left:50%;top:50%;transform:translateX(-50%) translateY(-50%);
        }
    }
    &__itemtitle{
        padding-top:calc(100vw * (25/375));font-size:calc(100vw * (16/375));line-height:calc(100vw * (15/375));color:#123250;font-weight:550;padding-bottom:calc(100vw * (10/375));
    }
    &__itemstory{
        font-size:calc(100vw * (14/375));line-height:calc(100vw * (16/375));color:#123250;text-overflow:ellipsis;overflow:hidden;height:calc(100vw * (49/375));font-weight:400;
    }
    &__itemlink{
        padding-top:calc(100vw * (25/375));font-size:calc(100vw * (14/375));font-weight:550; color:#123250;line-height:calc(100vw * (18/375));text-decoration:underline;display:block;
    }
}

/*footer*/
.footer{
    display:block;background-color:#04263f;color:white;
    &__inner{
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));padding-bottom:calc(100vh * (52/630));
        padding-top:calc(100vh * (50/630));
    }
    &__logo{
        width:calc(100vw * (103/375));height:calc(100vw * (18/375));
    }
    &__description{
        padding-top:calc(100vh * (20/630));padding-bottom:calc(100vh * (42/630));font-size:calc(100vw * (14/375));line-height:calc(100vw * (19/375));font-weight:400;
    }
    &__email{
        display:block;
    }
    &__explorelink{
        display:block;margin-top:calc(100vh * (50/630));
    }
    &__linkUnderline{
        margin-top:calc(100vh * (30/630));margin-bottom:calc(100vh * (30/630));width:100%;height:calc(100vw * (1/375));background-color:#fff;
    }
    &__linkUnderline:last-child{
        margin-bottom:0
    }
}
.emailForm{
    display:block;
    &__inputwrap{
        display:block;
    }
    &__inputfield{
        font-size:calc(100vw * (16/375));line-height:calc(100vw * (11/375));font-weight:400;padding-bottom:calc(100vw * (19/375));color:#fff;
    }
    &__inputfield::placeholder{
        color:#fff;
    }
    &__inputUnderline{
        width:100%;height:calc(100vw * (1/375));background-color:#fff;display:block;
    }
    &__submit{
        margin-top:calc(100vw * (20/375));width:100%;height:calc(100vw * (50/375));font-size:calc(100vw * (16/375));line-height:calc(100vw * (11/375));font-weight:550;border-style:solid;border-color:white;border-width:calc(100vw * (1/375));
    }
}
/*=========mainpage and common(gnb,footer) group styles=======================*/

/*=========productListpage and common(gnb,footer) group styles=======================*/
.proListSection01{
    display:block;
    &__inner{
        padding-top:calc(100vh * (75/630));display:block;padding-bottom:calc(100vh * (70/630));background-color:white;
    }
    &__visualImg{
        width:100%;height:calc(100vw * (180/375));display:block;background-color:#d7d7d7;position:relative;overflow:hidden;
        .IMG{
            width:100%;height:auto;display:block;position:absolute;top:50%;transform:translateY(-50%);left:0;
        }
    }
    &__titArea{
        padding-top:calc(100vw * (42/375));text-align:center;
    }
    &__title{
        font-weight:625;line-height:calc(100vw * (35/375));font-size:calc(100vw * (30/375));color:#123250;padding-bottom:calc(100vw * (28/375));
    }
    &__message{
        font-weight:625;line-height:calc(100vw * (22/375));font-size:calc(100vw * (16/375));color:#123250;padding-bottom:calc(100vw * (10/375));
    }
    &__description{
        font-size:calc(100vw * (16/375));font-weight:400;line-height:calc(100vw * (19/375));color:#123250;
    }
}
.proListSection02{
    display:block;
    &__inner{
        width:100%;padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));padding-bottom:calc(100vh * (70/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
        font-size:calc(100vw * (30/375));color:#123250;padding-bottom:calc(100vw * (20/375));font-weight:625;line-height:calc(100vw * (35/375));
    }
    &__cont{
        display:block;
    }   
    &__catFrame{
        margin-top:calc(100vw * (30/375));
    }
    &__catProList{
        margin-top:calc(100vh * (40/630));
    }
    &__viewmore{
        margin-top:calc(100vh * (20/630));width:100%;padding-top:calc(100vw * (12/375));padding-bottom:calc(100vw * (12/375));border-width:1px;border-style:solid;border-color:#04263f;
        display:flex;justify-content:center;align-items:center;
    }
    &__viewmoretxt{
        font-size:calc(100vw * (14/375));letter-spacing:-0.28px;font-weight:550;color:#123250;
    }
}
.listControl{
    display:flex;flex-flow:row nowrap;align-items:center;color:#123250;
    &__filter{
        width:50%;height:auto;
        padding-top:calc(100vw * (10/375));padding-bottom:calc(100vw * (12/375));display:inline-flex;
        justify-content:center;align-items:center;flex-flow:row nowrap;
        border-right-width:calc(100vw * (1/375));border-color:#123250;border-top-width:1px;border-bottom-width:1px; border-style:solid;
        border-left-width:0;
    }
    &__filtertxt{
        font-size:calc(100vw * (16/375));font-weight:475; padding-right:calc(100vw * (3/375))
    }
    &__svgframe{
        display:block;width:calc(100vw * (16/375));height:calc(100vw * (16/375));
    }
    &__sort{
        width:50%;height:auto;
        padding-top:calc(100vw * (10/375));padding-bottom:calc(100vw * (12/375));display:inline-flex;
        justify-content:center;align-items:center;flex-flow:row nowrap;
        border-right-width:0;border-color:#123250;border-top-width:1px;border-bottom-width:1px; border-style:solid;
        border-left-width:0;
    }
    &__sorttxt{
        font-size:calc(100vw * (16/375));font-weight:475; padding-right:calc(100vw * (3/375))
    }
}
.proListcatFrame{
    width:100%;height:auto;display:block;background-color:#d9d9d9;padding-left:calc(100vw * (24/375));padding-right:calc(100vw * (24/375));color:#123250;
    &__tit{
        padding-top:calc(100vh * (203/630));padding-bottom:calc(100vh * (20/630));line-height:calc(100vw * (28/375));font-size:calc(100vw * (28/375));font-weight:550;
    }
    &__description{
        padding-bottom:calc(100vh * (24/630));font-size:calc(100vw * (13/375));font-weight:475;
    }
}
.ProductListWrap{
    display:flex;justify-content:space-between;align-items:center;flex-flow:row wrap;
    &__item{
        width:calc(100% * (160/335));height:auto;padding-bottom:calc(100vh * (20/630));
    }
    &__itemimg{
        display:block;width:100%;height:calc(100vw * (160/375));position:relative;background-color:#c7c7c7;overflow:hidden;
        .IMG{
            display:block;position:absolute;transform:translateX(-50%) translateY(-50%);top:50%;left:50%;
        }
    }
    &__itemcategory{
        padding-top:calc(100vh * (20/630));padding-bottom:calc(100vh * (12/630));font-size:calc(100vw * (12/375));line-height:calc(100vw * (8/375));font-weight:400;letter-spacing:-0.24px;color:#04263f
    }   
    &__itemtit{
        font-size:calc(100vw * (16/375));font-weight:550;line-height:calc(100vw * (18/375));height:calc(100vw * (38/375));overflow:hidden;text-overflow:ellipsis;
    }
    &__price{
        padding-top:calc(100vh * (12/630));padding-bottom:calc(100vh * (20/630)); display:flex;align-items:center;
        font-size:calc(100vw * (14/375));line-height:calc(100vw * (10/375));font-weight:550;padding-right:calc(100vw * (3/375));
    }
    &__point{
        font-weight:475;padding-left:calc(100vw * (4/375));
    }
    &__cartbtn{
        display:block;
    }
    &__eventpoint{
        display:flex;margin-top:calc(100vh * (12/630));justify-content:center;
    }
}
/*productList에서 기원된 범용적cartbtn*/
.cartbtn{
    display:flex;flex-flow:row nowrap;justify-content:center;align-items:center;padding-top:calc(100vh * (12/630));padding-bottom:calc(100vh * (12/630));background-color:#04263f;width:100%;color:white;
    &__svgframe{
        display:block;width:calc(100vw * (11/375));height:calc(100vw * (13/375));
    }
    &__cartTxt{
        padding-left:calc(100vw * (5/375));font-size:calc(100vw * (14/375));font-weight:550;letter-spacing:-0.28px;
        line-height:calc(100vw * (17/375));
    }
}
.eventpoint{
    display:inline-flex;flex-flow:nowrap;justify-content:center;align-items:center;border-style:solid;margin:0 auto;border-width:0;border-bottom-width:1px;border-color:#718496;
    &__svgframe{
        width:calc(100vw * (12/375));height:calc(100vw * (12/375));display:block;
    }
    &__txt{
        padding-left:calc(100vw * (4/375));font-size:calc(100vw * (14/375));color:#718496;font-weight:475;letter-spacing:-0.28px;
    }
}
.moreplusicon{
    display:block;width:calc(100vw * (11/375));height:calc(100vw * (11/375));margin-right:calc(100vw * (6/375))
}

.proListSection03{
    display:block;width:100%;height:calc(100vw * (114/375));background-color:#a7a7a7;
    &__bannerbg{
        width:100%;height:100%;display:block;
    }
}

.proListSection04{
    display:block;
    &__inner{
        padding-left:calc(100vw * (20/375));padding-right:calc(100vw * (20/375));
        padding-top:calc(100vh * (70/630));padding-bottom:calc(100vh * (60/630));
    }
    &__headTop{
        display:block;
    }
    &__tit{
       display:block;  
    }
    &__columnList{
        margin-top:calc(100vh *(60/630));
    }
}